*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    box-sizing: border-box;
} 
/*Navigation Bar*/
*{
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  box-sizing: border-box;
} 
/*Navigation Bar*/
.navigationBar{
  width: 100%;
  height: 17vh;
  box-shadow: 1px 1px 10px lightgreen;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  z-index: 9999;
}
#logo{
  width: 14vw;
  height: 15vh;
  margin:0.3vw;
}
.NavList li{
  display: inline-block;
  margin: 2vw;

}  
.NavList li  a {
  text-decoration: none;
  color:rgb(157, 184, 85);
  font-size: 1.4vw;
  
}
.Navlist i{
  color:rgb(157, 184, 85);

}

.dropbtn{
  cursor: pointer;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdownContent{
  display: none;
  position: absolute;
  /* left: 5vw; */
  top:4vh;
  padding:2px;
  background-color: lightgray;
}
.dropdownContent #subDropBtn{
  color: rgb(85, 108, 50);
  text-decoration: none;
  display: block;
  background-color: lightgrey;
  font-size: 1.2vw;
}
.dropdownContent #subDropBtn:hover{
  background-color: lightgray;
  color: rgb(55, 63, 35);
  font-size: 1vw;
}

.dropdown:hover .dropdownContent{
  display: block;
} 
.dropdown:hover .dropdownContent i{
  display: inline;
}
.NavList li a:hover{
  color: darkgreen;
  background-color: rgb(222, 235, 201);
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness :2px;
  text-decoration-color: darkgreen;
  
} 
.subDrop{
  position: relative;
}
#subDropBtn{
  color: black;
  font-size: medium;
}
.subDropContent{
  display: none;
  position: absolute;
  left:7.8vw;
  top: 0;
  width: max-content;
  background-color: lightgray;
  padding: 2px;
}
.subDrop > #subDropBtn:hover{
  text-decoration: underline;
}
.subDropContent a{
  display: block;
  color: darkgreen;
  text-decoration: none;
}
.subDrop:hover .subDropContent {
  display: block;
}

@media screen and (max-width: 900px) {
  #logo{
      width: 60%;
      height: 70%;
  }
  .NavList{
      width: 80%;
      margin-top: 5%;
      display: flex;
      flex-direction: row;
  }
  .NavList li a{
      font-size: small;
      color:rgb(134, 157, 72);
  }
  .NavList li a:hover{
    font-size: small;
  }
  .subDropContent{
    left:14vw;
    font-size: small;
  }
  #subDropBtn .subDropContent {
    overflow-wrap: normal;
  }
  .subDrop #subDropBtn{
    font-size: small;
  }
  .subDrop #subDropBtn:hover{
    font-size: small;
  }
  .subDropContent:hover a{
    font-size:small;
    box-sizing: border-box;
  }
}


  .homeContent{
    padding: 17vh 1vw 0vh ;
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-color: #f0eaea;
}
/* @media screen and (max-width:50%) {
  .homeContent{
    flex-wrap: wrap;
  }
} */
#carouselExampleIndicators{
  width: 100%;
  height: 70vh;
  
  /* margin: auto; */
}
.carousel-indicators{
  width: 40vw;
}
.carousel-inner{
  margin:2vh;
}
/* .carousel-item{
    padding:2vh 1.8vw;
    width: 45vw;
    height:70%; 
    border-radius: 30%;
    border: 2px solid black;
    background-color: rgb(173, 230, 183);
    float: left;
} */
.imghome{
    width:95%;
    height:60vh;
    margin: 2vh 1vw;
    border-radius: 2%;
    z-index: -1;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  .carousel-control-prev-icon{
  width: 1vw;
  height: 1vh;
}
.homeInfo{
  float: right;
  border: 2px solid green;
  font-size: 2.1vh;
  border-radius: 5%;
  background-color: azure;
  width: 60vw;
  height: 60vh;
  margin: 5vh 3vw;
  padding: 2vh 2vw; 
  overflow: auto;
}
.quote{
  font-size: 3.3vh;
}
.pbc{
  font-size: 2.4vh;
}
.quote{
  text-decoration: underline;
  text-decoration-color: rgb(9, 166, 9);
  text-underline-offset: 5px;
}
#pb{
  color:rgb(16, 169, 16);
}
@media screen and (max-width:900px) {
    .homeContent{
        width: 100%;
        flex-direction: column;
    }
    .homeInfo{
        width: 90%;
        height: 65vh;
    }
    .imghome{
        height: 30vh;
    }
}
  
/*About Us*/
.Aboutus{
    width: 100%;
    height: 80vh;
    border: 2px solid black;
    padding:2%;
    margin: 2% 0 2% 0;
    position: relative;
    background-color: rgb(229, 228, 226);
  }
  .about{
    font-size: 2.5vh;
  }
  .whyUs{
    width: 100%;
    height:70vh;
    margin:1vh 1vw;
    display: flex;
    flex-direction: row;
  }
  .whychooseus{
    width: 300vw;
    height: 50vh;
    border: 1px solid;
    margin: 0.5vh 2vh;
    font-size: 1.3vw;
    position: relative;
    background-color: rgb(126, 182, 87);
  }
  .wpb{
    font-size: 2.2vw;
  }
  .wcu{
    width:200vw;
    height: 42vh;
    font-size: 1.1vw;
    padding:1vw;
    margin:2vh 1vh;
    border: 1px solid ;
    background-color: white;
  }
  .wcu:hover{
    transform: scale(1.1,1.1);
    transition-duration: 1s;
    transition-timing-function: ease;
  }
  .wcuImage{
    width:3vw;
    height:8vh;
  }
  @media screen and (max-width:900px) {
    .Aboutus{
        height:150vh;
    }
    .wpb{
        font-size: medium;
    }
    .whyUs{
        display: flex;
        flex-direction: column;
    }
    .whychooseus{
        width: 90%;
        font-size: small;
    }
    .wcu{
        width: 90%;
        font-size: small;
    }
    .wcuImage{
        width: 10%;
        height: auto;
    }
  }


  /*Categories*/
.ShopBy{
    font-size: 2vw;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
    color: rgb(141, 164, 77);
}
.brand{
    font-size: 1.5vw;
    color: gray;
}
.brandName{
    color: darkslategray;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2vh;
    text-align: center;
}
.brandName:hover{
    color:black;
    font-size: 2vw;
}
  .wrapper{
    width:100%;
    display: flex;
    flex-wrap: wrap;
  }
  .wrapper > div{
    width: 16%;
    height: 60vh;
    border: 0px solid ;
    position: relative;
    flex-wrap: 1 1 20%;
    margin: 5vw 7vh;
  }
  .wrapper > div img{
    width: 90%;
    height: 95%;
    padding: 3% 2% 3% 8%;
  }
  .wrapper > div :hover{
    transform: scale(1.1 , 1.1);
  }
  /* .wrappingImg{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
  } */

  /* .wrapper div:hover{
    transform: scale(1.1 , 1.1);
  } */
  /* @keyframes flip{
    from{transform:rotatey(0deg); }
    to{transform:rotateY(360deg);}
  }
  .wrapper div:hover{
    animation-name: flip;
    animation-duration: 2s;
    animation-timing-function: ease;
  } */
  @media screen and (max-width:900px) {
    .wrapper > div{
        width:40%;
    } 
    .ShopBy{
        font-size: large;
    }
  }
  @media screen and (max-width:600px) {
    .wrapper > div{
        width:60%;
    } 
  } 

  
  /*footer*/
  #footer{
      width: 100%;
      height: 250px;
      margin-top: 20px;
      background-color: rgb(100, 98, 98);
      display: flex;
      flex-direction: row;
  }
  .footer{
      width:30%;
      height:90%;
      margin:3%;
  }
  #address{
      width:30px;
      height:30px;
  }
  .footerImage{
      display: flex;
      flex-direction: row;      
  }
  .footerImage i{
      width:20px;
      height:20px;
      margin: 1%;
      background-color: white;

  }

  
  
  
  
